
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // ATENCIÓN: Estas reglas permiten el acceso público total.
    // Son solo para desarrollo y deben ser reemplazadas por reglas seguras antes de producción.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
