@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 85 53% 91%;
    --foreground: 96 55% 10%;
    --card: 85 53% 94%;
    --card-foreground: 96 55% 10%;
    --popover: 85 53% 94%;
    --popover-foreground: 96 55% 10%;
    --primary: 96 55% 20%;
    --primary-foreground: 85 53% 98%;
    --secondary: 85 40% 85%;
    --secondary-foreground: 96 55% 10%;
    --muted: 85 40% 88%;
    --muted-foreground: 96 25% 35%;
    --accent: 92 57% 66%;
    --accent-foreground: 96 55% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 85 30% 80%;
    --input: 85 30% 82%;
    --ring: 96 55% 20%;
    --chart-1: 92 57% 66%;
    --chart-2: 96 55% 20%;
    --chart-3: 96 30% 40%;
    --chart-4: 85 53% 81%;
    --chart-5: 90 40% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 96 15% 8%;
    --foreground: 85 30% 90%;
    --card: 96 15% 12%;
    --card-foreground: 85 30% 90%;
    --popover: 96 15% 8%;
    --popover-foreground: 85 30% 90%;
    --primary: 92 57% 66%;
    --primary-foreground: 96 55% 10%;
    --secondary: 96 15% 15%;
    --secondary-foreground: 85 30% 90%;
    --muted: 96 15% 15%;
    --muted-foreground: 85 20% 65%;
    --accent: 96 15% 20%;
    --accent-foreground: 85 30% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 96 15% 15%;
    --input: 96 15% 15%;
    --ring: 92 57% 66%;
    --chart-1: 92 57% 66%;
    --chart-2: 85 40% 85%;
    --chart-3: 96 30% 40%;
    --chart-4: 85 53% 81%;
    --chart-5: 90 40% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
